<div id="controls">
    <a class="item" ng-href="#/{{ previous|formatDate:'YYYY' }}/{{ previous|formatDate:'M' }}" triggers-refresh>Back one month</a>
    <p class="item" >{{ current|formatDate:'MMMM' }}, {{ current|formatDate:'YYYY' }}</p>
    <a class="item" ng-href="#/{{ next|formatDate:'YYYY' }}/{{ next|formatDate:'M' }}" triggers-refresh>Forward one month</a>
</div>

<ul id="calendar" class="weeks-{{ weekCount }}" ng-init="headers = [0,1,2,3,4,5,6]">
    <li ng-repeat="head in headers" class="header">{{ head|formatDate:'dddd' }}</li>
    <li ng-repeat="day in days" class="day {{ day|monthClass:current }}" drop-area sequence-render>
        <p class="date">{{ day|formatDate:'Do' }}</p>
        <ul>
            <li ng-repeat="item in items | dateMatch:day" class="item" draggable="true" drag-item>
                <a ng-href="#/{{ current|formatDate:'YYYY' }}/{{ current|formatDate:'M' }}?item={{item.key}}">{{ item.title }}</a>
            </li>
        </ul>
    </li>
</ul>

<ul id="scroll">
    <li id="scroll-top" class="scroll-end">&#x25BC; {{ next|formatDate:'MMMM' }}, {{ next|formatDate:'YYYY' }}</li>
    <li ng-repeat="day in days | hasItems:items" class="day this-month" sequence-render>
        <p class="date">{{ day|formatDate:'M/DD/YYYY' }}</p>
        <ul>
            <li ng-repeat="item in items | dateMatch:day" class="item">
                <a ng-href="#/{{ current|formatDate:'YYYY' }}/{{ current|formatDate:'M' }}?item={{item.key}}">{{ item.title }}</a>
            </li>
        </ul>
    </li>
    <li id="scroll-top" class="scroll-end">&#x25B2; {{ previous|formatDate:'MMMM' }}, {{ previous|formatDate:'YYYY' }}</li>
</ul>


<div id="eventDetails" style="display:none;" fancybox ng-if="itemDetail">
    <p class="eventDetailsItem">title:</p><span>{{ itemDetail.title }}</span><br>
    <p class="eventDetailsItem">date:</p><span>{{ itemDetail.date }}</span><br>
    <p class="eventDetailsItem">time:</p> <span>{{ itemDetail.time }}</span><br>
    <p class="eventDetailsItem">description:</p><span>{{ itemDetail.description }}</span><br>
    <div class="closeModal">
        <p><a ng-href="#/{{ current|formatDate:'YYYY' }}/{{ current|formatDate:'M' }}">click here to close</a></p>
    </div>
</div>