<tr>
  <td class="table-header">Sunday</td>
  <td class="table-header">Monday</td>
  <td class="table-header">Tuesday</td>
  <td class="table-header">Wednesday</td>
  <td class="table-header">Thursday</td>
  <td class="table-header">Friday</td>
  <td class="table-header">Saturday</td>
</tr>