<p class="eventDetailsItem">title:</p><span>{{ title }}</span><br>
<p class="eventDetailsItem">date:</p><span>{{ date }}</span><br>
<p class="eventDetailsItem">time:</p> <span>{{ time }}</span><br>
<p class="eventDetailsItem">description:</p><span>{{ description }}</span><br>
<div class="closeModal"><p>click here to close</p></div>