* {
  box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin:0;
    height: 100%;
    background: url('../assets/bg.jpg') top center no-repeat #545454;
    font-family: Verdana,Tahoma,sans-serif;
}
.intro-box {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #efe0a5;
    padding: 74px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,.5);
}
#wrap {
    height: 100%;


}
#box {
    position: relative;;
    bottom:0;
    height:40px;
}
#footer {
    height:40px;
    position: relative;
    bottom: 40px;
    text-align: center;

    a {
        color: #fff;
    }
}
#calendar {
    table, > ul {
        border-spacing: 4px;
        width:940px;
        display:block;
        margin:0 auto 0 auto;
    }

    .Day {
        border-radius: 3px;
        border-bottom-right-radius: 0px;
        vertical-align: top;
        width:134px;
        background-color: #777;
        max-height: 80px;
        overflow: hidden;
        height: 80px;
        font-size: 12px;

        &.this-month {
            background-color: #efe0a5;
        }
    }

    .table-header {
        text-align: center;
        color: #ffffff;
    }

    .DateHolder {
        font-weight: bold;
    }

    .calendarItem {
        text-transform: capitalize;
        cursor: pointer;
    }
    
    .backbone & {
        > ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            li {
                width: 14.285714285%;
                margin-bottom: 4px;

                .Day {
                    width: 96%;
                    margin: 0 2%;
                }
            }
        }
    }
}

#eventDetails,
#about {
    display:inline-block;
    width: 300px;
    vertical-align: top;
    
    .eventDetailsItem {
        font-weight: bold;
    }
    .eventDetailsItem:first-letter {
        text-transform: uppercase;
    }
    .closeModal {
        text-align: center;
    }
    .closeModal p {
        font-size: 11px;
        font-style: italic;
        cursor: pointer;
    }
}

#tableCaptionWrap {
    display: inline-block;
    width:500px;
}
#tableCaption {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 0;
}
#buttonControls {
    text-align: center;
    width: 600px;
    margin: 0 auto 0 auto;
    
    img {
        width: 36px;
        height: 36px;
        background-image: url('../common/fancybox/fancybox_sprite.png');
    }
}

#decrementMonthButton{
    background-position: 0 -36px;
}

#incrementMonthButton{
    background-position: 0 -72px;
}